[2015-06-04 23:59] sedrubal opened #1 "Einheit Minuten: Sekunden Eingabe"
Bei der Einheit Minuten (Laserminuten) möchte man wahrscheinlich eher Sekunden statt Komma-Minuten eingeben...

[2015-06-09 19:43] mgmax opened #2 "improve escpos receipt printing"
- [ ] use escpos as submodule from https://github.com/fau-fablab/python-escpos
- [ ] diff to the currently used code, try to integrate that somehow
- [ ] make umlauts äöüß work for products and for config.ini (currently config.ini.example has some weird characters in it and the umlauts in products just don't work)

[2015-06-09 19:44] mgmax opened #3 "reset view when idle long enough"
If the terminal is left unattended long enough and the cart is empty, reset to the default category

No idea how to implement this easily without adding a "reset timeout" handler to every single button and object

[2015-06-09 19:58] mgmax opened #4 "user interface testing"
start with a clean checkout
follow the instructions in README and *also the FAU specific ones in TODO*
play around with the UI and make it crash
reward: 1 cookie per bug

[2015-06-09 20:02] mgmax opened #5 "accounting (legacy kassenbuch) testing"
start with a clean checkout
follow the instructions (FAU specific ones) in TODO
test the "test case matrix" combinations specified there, incl receipt printing (use tools/dummy-printserver for testing)

reward:
- 1 cookie per bug
- 1 mate for the first accounting-related critical bug (wrong sum stored somewhere, half cents missing on receipt etc.)

[2015-06-09 20:07] mgmax opened #6 "history cleanup"
look at all files in the repo:
- license and author visible
- clearly open source
- no 'secrets' or specifics inside, like non-public google doc URLs

As soon as this is done, we can remove the "history cleanup" items from ./TODO, do a (forced) history cleanup and make the repo public :)

[2015-06-10 19:48] mgmax opened #7 "legacy_offline_kassenbuch: refactor import, show product location"
- change the storage that is used between importProdukte and legacy_offline_kassenbuch startup to something that uses Product() and Category() objects directly, stored via some serialisation
- also fill the location field (steal related code from the openerp backend)

[2015-06-10 19:57] mgmax opened #8 "oerp backend broken"
see "TODO update code to match new interface definition" in code, needs to be updated to match the interfaces described in shopping.backend.abstract and tested that it more-or-less works

[2015-06-10 19:58] mgmax opened #9 "oerp backend rather slow"
we are (ab)using the AJAX api for blocking callbacks which makes the UI horribly slow :-1:

[2015-06-10 20:00] mgmax opened #10 "refactor receipt printing"
reuse the code from kassenbuch.print_receipt to write a default implementation for AbstractShoppingBackend.print_receipt that goes through the order_lines and prints a receipt from that

[2015-06-10 20:35] mgmax opened #11 "use flickcharm as submodule"
* [x] merge (look at diff!) our flickcharm code into the one in https://github.com/fau-fablab/flickcharm-python , try to merge in a way so that others can still use the merged flickcharm code without breakage
* [x] include the new repo as a submodule
* [x] add submodule instructions (recursive checkout) to INSTALLING documentation and/or README

[2015-06-15 11:57] #6 closed, assigned to nobody

[2015-06-15 21:43] mgmax opened #12 "legacy_kassenbuch crash on buying certain products"
sometimes buying results in a SQLite error, where it cannot decode the article name.
I'm still investigating this...

[2015-06-15 22:18] #12 closed, assigned to mgmax

[2015-06-17 10:26] patkan opened #13 "GUI: wrong conversion of quantities"
When entering a quantity of e.g. 100 of a product the gui will express this as 1E+2. When clicking onto the product, the quantity "1E+2" gets converted wrongly into "12".
Bug found by @vale in relation to #4

[2015-06-17 10:27] patkan commented on #4
see #13

[2015-06-17 11:53] #13 closed, assigned to nobody

[2015-06-17 11:57] mgmax opened #14 "debugging exceptions is broken"
winpdb is somehow broken, I can't get the exception backtrace....
maybe try something from
http://code.activestate.com/recipes/65287-automatically-start-the-debugger-on-an-exception/

[2015-06-17 12:02] patkan opened #15 "unreachable code in oerp.py"
The code in [oerp.py, line 39-43](https://github.com/fau-fablab/FabLabKasse/blob/6b73d07a59b6c3b9249daf216b775a94ad1a00b0/FabLabKasse/shopping/backend/oerp.py#L39-L43) is unreachable

[2015-06-17 20:29] mgmax commented on #5
Genauere Auflistung der Testmatrix:

Vorbereitung:
- clean checkout (d.h. keine Datenbank, alte Dateien o.ä. rumliegend)
- config.ini.example nach config.ini kopieren, darin:
  - backend auf ...kassenbuch
  - ERP nutzer eintragen

_In allen Fällen_ schauen dass
1. der Kassenzettel sinnvoll rauskommt # lokaler Server: tools/dummy-printserver
2. kassenbuch.py die Buchung korrekt anzeigt
3. bei Barge

[2015-06-17 20:55] mgmax commented on #7
some code could also be taken from _parse_product() in oerp-pricelist

[2015-06-19 23:17] mgmax commented on #5
so, jetzt ist die Liste sinnvoll abarbeitbar. Das mit den Cent-Bruchteilen in der DB hat hiermit eigentlich nix zu tun und kommt deshalb in ein extra Issue.

[2015-06-19 23:19] mgmax opened #16 "kassenbuch: Cent-Bruchteile in Datenbank"
es dürfen bei Buchungen (und Rechnungen???) keine Cent-Bruchteile irgendwo in der DB landen
- assertions in kassenbuch.py ergänzen, um dies zu erzwingen (Buchungen müssen ganze Cents sein!)
- in der DB mal gucken was da so landet wenn man krumme Beträge zahlt
  `sqlite3 development.sqlite3`, `.dump`, ...

[2015-06-19 23:21] #4 closed

[2015-06-20 11:45] #16 closed, assigned to nobody

[2015-06-20 21:25] mgmax opened #17 "payment via mobile app"
- [x] dummy code for workflow
- [x] HTTP JSON connection: polling and fetching cart
- [x] make configurable, document all settings: enable, server, app-url, etc.
- [x] document interface to server
- [x] test it
- [x] improve exception handling:
  - [x] server down
  - [x] Wenn App Server nicht erreichbar, kommt keine Fehlermeldung .
    - [x] Und beim Abbrechen hängt sich die GUI auf.
  - [x] exit

[2015-06-23 11:59] patkan opened #18 "legacy_offline_kassenbuch: kein Runden"
## Ausgangspunkt:
- 3,79 ml Ultraschallreiniger (0,01€/ml) gekauft
- Gesamtpreis 4ct in Kassenterminal dargestellt
- 4ct manuell bezahlt
## Verbesserung:

kassenbuch.py zeigt:

[code]

Es wäre besser den Reiniger als `0.0379 EUR` aufzuführen und die Rundung als `0.0021 EUR`.

[2015-06-23 12:01] patkan commented on #5
Ich habe den manuellen Zahlungspunkt getestet. Passt alles, allerdings gibt es ein unschönes Verhalten in kassenbuch.py. Dazu hab ich #18 angelegt.

[2015-06-23 16:30] patkan opened #19 "kassenbuch.py: PIN 0000 deaktiviert nicht den Account"
Gemäß [Zeile 792 in kassenbuch.py](https://github.com/fau-fablab/FabLabKasse/blob/61dc18d302ad0bb61808a0a60aa4c243ffca4f59/FabLabKasse/kassenbuch.py#L792) bedeutet eine PIN `0000`, dass der Account deaktiviert ist.

Trotzdem ist ein Buchen auf die Kundennummer möglich.

[2015-06-23 16:35] patkan opened #20 "GUI: Enter (from keyboard) in search bar crashes GUI"
When pressing the Enter key while the search bar is focused the application crashes. It is irrelevant whether you already entered text.
Pressing the softkey Enter does not produce the bug.
The bug is reproducible.

[2015-06-23 18:58] #20 closed, assigned to patkan

[2015-06-23 20:01] patkan commented on #5
Kontozahlung habe ich auch geprüft.

[2015-06-23 20:21] patkan opened #22 "add docstrings"
Improve documentation by adding reStructuredText docstrings to everything.

[2015-06-23 20:22] patkan opened #23 "refactor existing docstrings"
Refactor existing docstrings to improve documentation and conformity with sphinx. Use reStructuredText as markup

[2015-06-23 20:26] patkan opened #24 "automatic class documentation (sphinx)"
Create automatic class overview by parsing the docstrings. Search an appropriate tool.

[2015-06-23 21:10] sedrubal commented on #19
@patkan warum ich? :D

[2015-06-23 21:11] sedrubal commented on #24
https://pypi.python.org/pypi/Sphinx/

[2015-06-24 06:29] patkan commented on #19
Hab mal gehört, das würde Projekte voran bringen die zu assignen :-P

[2015-06-24 06:30] patkan commented on #24
Will man das lieber als epydoc? Kann man gerne machen. Ich habe nur gelesen es wäre schwieriger zum aufsetzen und fällt manchmal eher zusammen (da es importiert und nicht parst oder so)

[2015-06-24 06:41] patkan commented on #24
Wenn du möchtest, dann kannst du das gerne übernehmen @sedrubal.
Es muss nicht epydoc sein, gibt nur folgende Constraints:
- Es sollte auf Knopfdruck bauen und nicht ultra hässlich in der Wartung sein
- Das Markup muss von PyCharm verstanden werden. PyCharm kann das Markup parsen und dann das angeblich als TypeHints verwenden. Siehe dazu [Type Hinting in PyCharm](https://www.jetbrains.com/pycharm/

[2015-06-24 10:26] sedrubal commented on #24
achso, ich hab keine Erfahrung, hab bis jetzt aber nur sphinx gesehen. Ich möchte das aber nicht übernehmen ;)

[2015-06-24 12:39] patkan opened #25 "exampleCashServer zahlt in Handkasse"
Der exampleCashServer scheint in Handkasse zu buchen.
Es wird nicht in Automatenkasse gebucht. Stattdessen wird auf die Handkasse aufgebucht. @sedrubal und ich haben aber leider gerade nicht gefunden, woher das kommt.

[2015-06-24 18:38] #25 closed, assigned to mgmax

[2015-06-24 20:31] patkan opened #26 "Text when paying back aborted transaction"
When paying back an aborted transaction the terminal says "Im Anschluss kannst du noch eine Quittung erhalten.".
The message should only be shown when a receipt really can be printed.

[2015-06-24 20:56] patkan commented on #5
Automatenkasse ist jetzt auf Basis des ExampleServer auch durchgetestet.

[2015-06-24 21:34] #19 closed, assigned to nobody

[2015-06-24 21:37] patkan commented on #5
@mgmax, @sedrubal, @jneureuther: wenn keiner mehr Einwände oder Bugs hat kann man den Issue hier schließen und damit den Milestone abschließen. Jay :+1:

[2015-06-24 22:00] mgmax commented on #24
man müsste auch mit gucken, ob es eine sinnvolle design-by-contract sowie unittest Möglichkeit gibt. Diese Libs erfordern teilweise eine bestimmte Art von docstrings, d.h. man schreibt beispielsweise in die Doku "Example: foo(42) = 43" und dann testet der unittester, ob dem so ist.

[2015-06-24 22:04] patkan commented on #24
Ganz hübsch, aber auch simpel ist [doctest](https://docs.python.org/2/library/doctest.html).

[2015-06-24 22:09] mgmax opened #27 "design pattern: design-by-contract + inheritance"
how should this case be handled?
- an abstract baseclass, like shopping, documents certain "contracts" that an implementation must follow
- this should somehow be checked with assertions before and after the function call, but without copying these assertions to every implementation

pseudocode:

[code]

like here: https://github.com/fau-fablab/FabLabKasse/blob/45e39abd2ef67c019e71ffa8b312cf9b30d8

[2015-06-24 22:21] cod3monk commented on #24
Testen und Dokumentation sind eigentlich zwei verschiedene dinge:
sphinx ist quasi Standard für Dokumentation und kann sowohl docstrings parsen als auch unabhänige Dateien um z.B. Tutorials, Howtos, Installationsanlteitungen zu erstellen. epydoc wird nicht mehr weiterentwickelt und pdoc ist als Nachfolger gedacht.
doctest ist hübsch und sehr einfach, kann aber nicht mehr als Einzeiler (bzw. will m

[2015-06-25 19:23] #5 closed

[2015-06-26 11:25] patkan opened #28 "Improve search"
Die Suche (in legacy_offline_kassenbuch) ist langsam und unresponsiv.
- [ ] herausfinden, woher die Wartezeiten kommen
- [ ] überlegen, wie das besser gemacht werden kann (Multithreading, Suche nach Wartezeit, ...)
- [ ] Verbesserungen implementieren

[2015-06-26 12:12] patkan commented on #10
related to #2

[2015-06-27 14:17] mgmax commented on #17
Prinzipiell geht es jetzt, aber man sollte es noch ausführlich testen, insb. die oben beschriebenen doofen Fälle. Ohne echtes Gerät geht das Testen aber nicht gescheit, weil man da nicht den QRCode einlesen kann.

[2015-06-27 18:36] sedrubal commented on #17
wow das geht echt gut :D

[2015-06-27 19:11] sedrubal commented on #17
allerdings verwirrt der 2. QR Code und das Verhalten der App ist nicht schön, wenn man aus Versehen den unteren einscannt... Vllt. erst einblenden, wenn man nen Button drückt?

[2015-06-27 19:27] sedrubal commented on #17
Wenn die Kasse aufgrund eines Fehlers abstürtzt, bekommt das die App nicht mit. Vielleicht will man auf Kurz oder Lang einen "background Worker" einbauen, der als eigenständiger Prozess kritische Tasks ordentlich verarbeitet und nicht so leicht abstürtzt, wie der Rest. Der könnte dann z.B. dem Server den Absturz melden und in der App kommt eine Erinnerung, dass man den Fehler melden will...

[2015-06-27 20:03] mgmax commented on #17
Wenn die Kasse mitten im Bezahlen abstürzt, ist die Rückmeldung an die
App das geringste Problem daran...

[2015-06-28 15:41] mgmax commented on #26
should be fixed with ddb9b4c08de748bc86dcab2fcce2d17812c60da4

[2015-06-28 15:41] #26 closed, assigned to nobody

[2015-06-28 16:22] mgmax commented on #17
@sedrubal der QR Dialog ist jetzt etwas schöner. Den Rest überlasse ich dir als Qt-Lernaufgabe :)

[2015-06-28 19:50] sedrubal commented on #17
:+1:

[2015-07-01 00:01] nightvisi0n opened #29 "wrong size of "Warenkorb aus App laden" button"
The attribute `minimumSize` is not correctly set.

![kt](https://cloud.githubusercontent.com/assets/4653434/8444757/fec48b3e-1f94-11e5-8f0e-9ec6f8489268.png)

[2015-07-01 09:01] mgmax commented on #29
Das per minimumSize zu lösen, ist nicht die richtige Lösung - je nach
DPI haut das ja nicht hin. Dafür gibt es sizePolicy etc.

[2015-07-01 09:04] mgmax opened #30 "Fenster maximiert starten"
Bei der aktuellen Version vom Terminal sieht man unten den blauen
Hintergrund durch, da das Fenster nicht maximiert ist.

[2015-07-01 18:32] mgmax commented on #29
gescheit gelöst per e7425b6c05e2d1d53eb69d67e16903419f1a831c

[2015-07-01 18:32] #29 closed, assigned to nightvisi0n

[2015-07-01 21:19] patkan opened #31 "rounding of subcent values"
Currently the sum of a cart woth subcent value is cut. Is rounding better?
for example:

[code]

[2015-07-02 18:00] mgmax opened #32 "kassenbuch.py: dead code kunde.beschreibung?"
[code]

crashes:

[code]

is kunde.beschreibung unused?

[2015-07-02 21:13] sedrubal commented on #30
bei mir startet nix maximiert :(

[2015-07-02 21:17] sedrubal opened #33 "FAU Card Bezahlung: schönere Fehlerbehandlung"
Wenn man mal zuviel Zeit hat, kann man bei der FAU Card Bezahlung eine schönere Fehlerbehandlung einbauen. Ich habs just4fun auf dem Laptop mal eingeschalten, hab aber natürlich kein Gerät, und bekomm Fehlermeldungen und die Kasse stürtzt ab. Könnte mir vorstellen, dass die Kasse auch abstürtzt, wenn es Fehler mit dem Gerät gibt.

[code]

[2015-07-02 21:20] sedrubal commented on #17
App Bezahlung scheint jetzt gar nicht mehr zu gehen? Die Kasse pollt die ganze Zeit, aber bekommt keinen Warenkorb vom Server. gibt's da eig. nen Timeout, dass nicht unendlich pollt?

[2015-07-02 21:43] nightvisi0n commented on #17
@sedrubal Funktioniert bei mir auch seit vorgestern nicht mehr.

[2015-07-03 07:18] patkan commented on #33
Der FAUCard-Code liegt doch noch gar nicht im Repo, weil da noch Lizenzfragen zu klären sind?!
Dann tut sich Python natürlich schwer davon eine Instanz zu bilden :-)
Anosnten, wie denkst du könnte man das besser machen?

[2015-07-03 07:29] patkan opened #34 "Highlight relevant information on crash"
The crash-window shows a lot of information. Highlight the timestamp in bold red, because it is the only piece of information that is really relevant to the processing of the complaint.

[2015-07-03 07:33] patkan opened #35 "Show last transaction after crash?"
The terminal automatically restarts on a software crash.
Would it be helpful to show the last transaction upon start?
How to detect an abnormal start (coming from a crash)?
Is there a benefit from showing this information?
Is there a risk? Basically the user cannot trust the kassenbuch at this point!

[2015-07-03 07:49] sedrubal commented on #33
Achso dann ist das wohl nicht relevant. Aber sinnvoll wäre solche Warnungen beim Start nach einem Selbsttest anzuzeigen...

[2015-07-03 08:09] sedrubal commented on #35
...or at least recover last shopping cart

[2015-07-03 10:55] mgmax commented on #30
komisch, du hast Recht...

[2015-07-03 10:59] sedrubal commented on #30
Hab schon an mir gezweifelt ;)

[2015-07-03 18:35] tmaex opened #36 "Clear all button"
A "clear all" button would be usefull in case of somebody left the terminal with a full cart.

It could be placed next to "Pay now"/"Jetzt zahlen" but then there should be a confirmation for confused users that wanted to pay.

[2015-07-03 20:38] sedrubal commented on #36
:+1: and thanks for reporting.

There is always a good space on the right side below of the trash bin for deleting one product.

[2015-07-03 21:14] patkan commented on #36
Maybe the top of the window is a good place. There will also be the button to fetch a cart from the app.
This is related to #3.

[2015-07-04 11:50] #11 closed

[2015-07-05 13:46] mgmax commented on #31
`round()` behaves strangely:

[code]

we should implement something on our own in
shopping.backend.abstract.AbstractShoppingBackend.get_current_total()

[2015-07-05 13:50] mgmax commented on #36
placing it at the top is not really logical, you don't look for it there.

[2015-07-05 14:21] #30 closed, assigned to nobody

[2015-07-05 14:25] #34 closed, assigned to patkan

[2015-07-05 14:46] #33 closed, assigned to nobody

[2015-07-05 15:15] mgmax commented on #35
@patkan  I don't understand. Can you give an example how this should help?

Recovering the shopping cart is implicitly done by online shopping backends like OpenERP and not  possible for offline ones. Automatic error recovery is very difficult because after a crash you cannot assume anything.

[2015-07-05 16:57] sedrubal commented on #30
top. Aber warum muss das so kompliziert sein?

[2015-07-05 20:26] mgmax commented on #17
mit einer alten Version der App ca vom 27.6. (als debug build, fest auf code 1234 gestellt) geht es bei mir weiterhin. Liegt also wohl nicht an unserem Code.

[2015-07-05 20:28] mgmax commented on #17
@jneureuther @sedrubal  könnt ihr mal die App gegen die "Referenzimplementierung" für das Kassenterminal-API testen?
http://ec2-52-28-16-59.eu-central-1.compute.amazonaws.com/checkoutDummy/

[2015-07-05 20:53] nightvisi0n commented on #17
@mgmax habe gerade die aktuelle Developmentversion[1] der App gegen die "Referenzimplementierung" getestet, funktioniert nicht.

[1] https://github.com/FAU-Inf2/fablab-android/commit/dfe9ce1562dc6a872a630158c3f5077f7394d71c

[2015-07-06 11:56] sedrubal opened #39 "Relative Pfade ändern"
Da hat sich was eingeschlichen (`[...]/home/max/.designer[...]`):
- https://github.com/fau-fablab/FabLabKasse/blob/development/FabLabKasse/UI/PayupCashDialog.ui#L451
- https://github.com/fau-fablab/FabLabKasse/blob/development/FabLabKasse/UI/PayupCashDialog.ui#L471
- https://github.com/fau-fablab/FabLabKasse/blob/development/FabLabKasse/UI/PayupCashDialog.ui#L504

[2015-07-06 12:14] patkan commented on #31
@mgmax `ROUND_HALF_UP` seems to do the trick.
I think this can be merged into development.

[2015-07-06 13:36] mgmax commented on #39
scheint ein Bug in Qt Designer zu sein, der nicht weiter stört.

[2015-07-06 13:39] mgmax commented on #17
Ich hab letztens eine Fehlerbehandlung für nicht existierende Produkte ergänzt. Beim Testen sollten jetzt eigentlich (TM) keine Abstürze mehr auftreten, außer es wurde irgendwo was aus Versehen nicht abgefangen.

[2015-07-06 13:41] mgmax opened #40 "reset to default category after payment is finished"
when the payment was successful, don't just clear the cart, but also reset the view to the default category (there is a method for this, called somehow like startButtonClicked)

[2015-07-06 19:19] sedrubal commented on #39
ok :)

[2015-07-06 19:19] #39 closed, assigned to mgmax

[2015-07-07 19:39] mgmax opened #42 "cash payment: allowed over-payment"
- The code for determining how much money a user may insert is either wrong (`<` and `>` mixed up) or confusing:
  https://github.com/fau-fablab/FabLabKasse/blob/development/FabLabKasse/UI/PayupCashDialogCode.py#L189
- canPayout should somehow take into account that nobody wants >30 coins and report only the amount that can be paid back without extremely annoying the user

[2015-07-07 19:58] mgmax commented on #24
@sedrubal  sphinx sieht gut aus, magst du das mal ausprobieren?

unabhängig davon müssen wir uns dann noch auf eine Konvention für die Typen einigen. Die von Patrick verlinkte finde ich gut menschenlesbar: https://www.jetbrains.com/pycharm/help/type-hinting-in-pycharm.html#d296375e18526

[2015-07-08 11:26] patkan opened #43 "improve config system"
Improve the config system by using default values.
The git repo could supply a config.defaults.ini that gets loaded first.
In a second step the config.ini is loaded over the defaults.
The benefit is that most of the entries in the config file are nothing that the user needs to change normally.

[2015-07-08 20:26] patkan commented on #35
I don't know how this could help neither. I just wanted to discuss this, but I think we can close this with wontfix, can't we?

[2015-07-08 21:41] mgmax opened #45 "shoppingBackend: delete_current_order() and set_current_order(None)"
the documentation and usage of these two functions needs to be updated.
- delete should imply set(None) in all backends.
- set(None) can be removed in most cases

[2015-07-09 19:40] mgmax opened #46 "AssertionError: paid amount != current total"
187,15 Minuten  x 0,30€ Laserzeit subventioniert (Artikel 9000) = 56,145
Zahlen per Vertrauenskasse (oder Automat)

59€ bezahlen (d.h. Spende)
-> Crash.

Log des ursprünglichen Auftretens:

[code]

[2015-07-09 19:43] mgmax opened #47 "run.py --debug broken"
just prints an error message.

How can I run `python -m FabLabKasse.gui` together with winpdb?

[2015-07-09 20:15] mgmax commented on #46
This bug is
- [x] #31
- [x] missing documentation that get_current_total and add_order_line must behave additively, i.e. no "random" or "half-even" rounding of half cents
- [ ] missing assertion that after adding the donation the current total is correct
- [ ] log cart before starting payment

internal details:
- cart total (non-rounded) is 58.145
- shoppingBackend.get_current_total() = Decimal('5

[2015-07-09 20:29] sedrubal opened #48 "Quittung bei Bezahlung durch Kundenkonto"
Warum gibt es keine Quittungen, wenn man mit einem Kundenkonto bezahlt?

[2015-07-09 20:43] mgmax commented on #48
Weil es eine Rechnung nur für Geldfluss gibt, nicht für virtuelle Dinge. Für ein Kundenkonto wird z.B. später eine Sammel-Rechnung gestellt, oder es war nur ein Guthaben. In beiden Fällen wäre eine zusätzliche Rechnung über einen Einkauf dann eine doppelte Rechnungsstellung.

Das ist auch so dokumentiert.
https://github.com/fau-fablab/FabLabKasse/blob/b4516af9dcbdf23c21b5156a8b0dcc70148d7d00/FabLa

[2015-07-09 20:43] #48 closed, assigned to nobody

[2015-07-09 20:48] mgmax commented on #31
@patkan  would be great if you could look at the latest comments I made to your commit and complete this soon, because it will fix the crashes from #46 .

[2015-07-09 21:07] mgmax commented on #46
@fau-fablab/kasse I'm gone for the weekend, please help with this

[2015-07-10 16:31] sedrubal commented on #24
hab gerade sphinx ausprobiert, aber ich hab es nicht verstanden, wie man das konfiguriert bekommt. Wie wärs mit doxygen?

[2015-07-11 22:04] patkan commented on #24
Doxygen hat auch was. Das Argument für sphinx wäre halt, dass es de-facto-Standard ist.
reStructuredText kann doxygen sauber und komplett parsen?
Ansonsten würde ich am liebsten noch ein paar andere Meinungen sammeln.

[2015-07-12 12:44] sedrubal commented on #24
Doxygen kann das nur mit doxypy Filter glaub ich. Ob's vollständig funktioniert, weiß ich nicht.

Wenn sich jemand um Sphinx kümmern mag, bin ich ihm nicht böse. Allerdings hab ich's nicht hin bekommen und es soll auch seine Eigenheiten und Probleme haben (https://stackoverflow.com/questions/4126421/how-to-document-python-code-epydoc-doxygen-sphinx#answer-8004864)

[2015-07-12 13:07] patkan commented on #31
I think 6655b1fb2ffa057a5211bdf6a85410f421127984 is ready for merging. Famous last words?

[2015-07-12 13:34] #35 closed, assigned to nobody

[2015-07-12 18:26] patkan opened #50 "Improve Unit testing"
The project should use unittests. For this a structure should be designed to easily test the whole project.
How should the Unittest-files be namend? Should the classes be in the same file as the program code? How to find all unit-tests in the project?

Not called unittests:
- [x] FabLabKasse.cashPayment.client.PaymentDevicesManager.PaymentDevicesManager#_canPayout_Unittest
- [x] FabLabKasse/cashPa

[2015-07-12 18:34] mgmax commented on #31
looks good, merged.

[2015-07-12 18:34] #31 closed, assigned to patkan

[2015-07-12 20:48] mgmax commented on #45
done, thanks Patrick

[2015-07-12 20:48] #45 closed, assigned to patkan

[2015-07-13 07:50] mgmax opened #51 "flickcharm submodule uses ssh URL"
- update INSTALLING with info that a github account is needed
- undo local changes on kassenterminal (currently uses https as workaround)

[2015-07-13 11:18] #3 closed

[2015-07-13 11:18] #36 closed, assigned to patkan

[2015-07-13 11:18] #40 closed, assigned to patkan

[2015-07-13 12:58] patkan commented on #50
Maybe [tox](https://testrun.org/tox/latest/) is an option.

[2015-07-13 15:25] sedrubal commented on #17
- [x] Eine falsche app URL, von der `Error 404` zurück kommt wird nicht als falsche URL erkannt.

[2015-07-13 15:28] sedrubal commented on #17
- Wenn App Server nicht erreichbar, kommt keine Fehlermeldung
  - Und beim Abbrechen hängt sich die GUI auf.

@sedrubal: Anmerkung Patrick: Kannst du bitte Schritte zum Nachvollziehen aufzeigen? Ich konnte diesen Fehler heute nicht reproduzieren.

@patkan: Schritte zum Aufhängen:
- Suche IP/URL, die es nicht gibt; gerade funktionierte `123.234.165.142`
- In config eintragen
- Import starten und ab

[2015-07-13 19:39] patkan commented on #32
Julian: probably yes.

[2015-07-13 22:20] patkan commented on #24
Ich hab sphinx-apidoc gefunden und damit das hier erzeugt: eb864b54f87bf0a2faaa27bb475c1ce315111d7d
Das ist atm aber noch ziemlich kaputt...
Entweder hab ich das Tool falsch verwendet, oder es ist ungeeignet oder Unfug :-)

[2015-07-14 00:53] sedrubal commented on #24
also es schaut irgendwie weder gut aus, noch funktioniert es bei mir. Es scheint so, als ob entweder ich oder Sphinx _automatische_ Dokumentation nicht verstanden hab...

[2015-07-14 06:43] patkan commented on #24
Da muss ich dir Recht geben.
Das apidoc-Skript erzeugt zwar alles automatisch, aber so wirklich toll ist das nicht. Eigentlich müsste das ja auch die automodule-Anweisung erledigen, wenn ich das richtig verstanden habe. Damit hab ich aber noch gar nichts hinbekommen.
Ansonsten finde ich sieht es ganz hübsch aus, bis auf den Fakt, dass das toc Kraut und Rüben ist.

Ein anderes Problem ist noch, das

[2015-07-14 07:33] patkan commented on #51
Which reasons do we have to not switch to https-checkout?
- you need a credential store, because ssh-key is not applicable
- two-factor-authentication users need a generated token

Are there more?
Do you still have these problems when using https only for the submodules (since the standard use case does exclude commiting in submodules).

[2015-07-14 09:12] sedrubal commented on #51
Sorry, mal auf deutsch: das Problem an SSH remote URLs für submodules ist doch, dass nicht GitHub user keine Möglichkeit haben, sich das submodule ordentlich zu holen, drum sollte man https URLs verwenden, oder?

[2015-07-14 09:19] patkan commented on #51
Ich glaub das hier können wir auch auf Deutsch machen, im Moment sind wir ja sowieso nicht international :-)
Jo, das ist es, würde ich sagen. Ich glaub dann ist es in Ordnung, wenn wir https für die submodules verwenden, oder?

[2015-07-14 10:47] patkan commented on #47
`run.py --debug` seems to work for me. However, `python -m FabLabKasse.gui` throws an error indeed.

[code]

[2015-07-14 11:17] patkan commented on #17
Wie will man unterscheiden zwischen zB Server kaputt und Server wartet noch?

[2015-07-14 11:31] sedrubal commented on #17
Im Idealfall schon, aber dann müsste ein funktionierender Server irgendwas zurückgeben...

[2015-07-14 18:00] mgmax commented on #51
Ist halt nerviger für die Entwicklung. Vielleicht als Mittelweg dennoch
eine ssh push-URL angeben?

[2015-07-14 20:30] sedrubal commented on #51
warum nervig? Über https geht es doch noch einfacher, da man sich zum Pullen nicht anmelden muss...

[2015-07-14 20:50] mgmax commented on #51
nervig, weil push nicht geht und SSL recht unsicher ist.

[2015-07-14 20:51] cod3monk commented on #51
ssl unsicherer als ssh? ich weiß ja nicht. bei ssl gibt es zumindest theoretisch eine certificate authority, bei ssh muss man dem erst bestem glauben der vorbeikommt...

[2015-07-14 20:54] sedrubal commented on #51
Allerdings sind submodules auch niemals zum Pushen da, sondern sollten nur passiv aktualisiert werden. Änderungen sollten ausschließlich in einem extra Clon (ggf. über ssh) geschehen - zumindest soweit das ich weiß...

Und zum Thema Sicherheit: Solange Commits nicht PGP signiert werden,... :P

[2015-07-14 20:59] mgmax commented on #51
Nein. Mache ich bei VisiCut + LibLaserCut schon dauernd so, es hindert
einen garnichts dran. In bestimmten Situationen (inkompatible Änderungen
in Lib) kommst du garnicht drumherum.

[2015-07-14 21:05] sedrubal commented on #51
Ok, hab mich auch nochmal informiert, dann hatte ich da einen falschen Eindruck. Aber mit extra Repos kann man auf jeden Fall das URL Problem lösen.

[2015-07-15 19:29] mgmax commented on #17
@sedrubal  kann ich nur bedingt nachvollziehen. Wenn ich http://4.5.6.7/ als URL einstelle, braucht die HTTP-Anfrage immer 10s bis zum Timeout und währenddessen blockiert die GUI. Mit 10s Verzögerung reagiert sie aber auf Eingaben. Ich weiß nicht ob man bei cart_model.load() einen kleineren Timeout einbauen will, aber eigentlich ist das auch egal.

[2015-07-15 20:08] mgmax commented on #17
@patkan habe noch die Exception-Info in die Meldung dazu gepackt und es nach development gepusht

[2015-07-15 22:29] patkan commented on #17
:+1:

[2015-07-16 00:03] sedrubal commented on #17
@mgmax in den 10 Sekunden sollte die GUI nicht blockieren... Ich sag nur MVVM ;) Aber ich denke, das sind jetzt mehr Schmerzen, als dass es was bringt...

[2015-07-16 21:15] sedrubal commented on #17
Negative Stückzahlen lassen das Terminal sterben.

Test-JSON:

[code]

[2015-07-16 21:24] sedrubal commented on #17
Dazu kommt:
- Alle Antworten (http Status Code `200` aber sonst kein sinnvoller Inhalt) führen nicht dazu, dass der Vorgang abgebrochen wird
- Erweiterung zu Kommentar von gerade: JSONs, die nicht valide sind, bringen das Terminal zum Absturz

ist oben in der Liste ergänzt...

(Testen kann man sowas gut, wenn man als AppServer `http://0.0.0.0:8000` in die config einträgt und dann irgendwo mit `pyt

[2015-07-17 00:15] sedrubal commented on #17
Zum Testen kann - wie gesagt - `SimpleHTTPServer` verwendet werden. Dazu hab ich noch dieses Skript gebaut, mit dem man schnell und einfach ein JSON mit passender cart_id / cartCode bauen kann: `./makeCart.py <id>`

[code]

[2015-07-19 20:55] mgmax commented on #24
so, läuft jetzt. Fehlt noch irgendein buildserver. readthedocs.org würde das erschlagen, wollte für meinen Geschmack aber zuviele Zugriffsrechte auf github.

[2015-07-19 21:40] patkan opened #54 "app-server: self-signed SSL for HTTPS"
Für die Benutzung des App-Server sollte über HTTPS kommuniziert werden, siehe #17.
Das verwendete Zertifikat ist self-signed.
`requests` scheint die Spezifikation von konkreten Zertifikaten zu unterstützen, siehe dazu [stackoverflow](https://stackoverflow.com/questions/26479039/python-requests-direct-pem-pinning-with-self-signed-cert).

[2015-07-20 22:39] #24 closed, assigned to nobody

[2015-07-20 22:40] mgmax opened #55 "fix sphinx warnings"
The sphinx build throws a few errors and warnings that should be fixed.

[code]

[2015-07-26 12:28] #55 closed, assigned to nobody

[2015-07-26 13:07] #46 closed, assigned to nobody

[2015-07-26 19:05] patkan commented on #51
Man muss folgendes tun im Hauptverzeichnis des Repos:

[code]

Die Ausgabe von `git remote -v` sollte jetzt sein:

[code]

Jetzt stellt sich nur die Frage, wie man das in die submodule-config rein bekommt. So ist das nur eine lokale Änderung, die nicht im Repository landet.
Ich schau mal, ob sich das in `.gitmodules` anpassen lässt.

[2015-07-26 19:24] patkan commented on #51
Soweit ich das jetzt gelesen habe, gibt es keine Möglichkeit, das fest zu setzen.
Am besten setzt man die default-url auf `https`, dann kann man mit einem `git remote set-url --push` die url richten bei Bedarf.
Alternativ schreibt man in seine `~/.gitconfig`:

[code]

_UPDATE:_ ich hab den letzten Configblock etwas modifziert. Der sollte jetzt eigentlich alle fau-fablab URLs beim pushen passend um

[2015-08-07 19:38] #51 closed, assigned to nobody

[2015-08-08 05:26] #23 closed, assigned to nobody

[2015-08-14 03:22] patkan opened #58 "repr should not return unicode"

[2015-08-30 15:20] #58 closed, assigned to mgmax

[2015-08-31 16:53] patkan opened #60 "ADD support for other currencies"
This is relevant for use in other countries and as long as we know of no other users low priority.
- [ ] make the hardcoded money limits configurable since other courencies might have bigger values (for example Yen)
- [ ] maybe think of a way to test whether big values will crash the code somewhere
- [ ] make the currency-symbol configurable

[2015-08-31 16:54] patkan opened #61 "ADD multi-language support"
In theory QT has the means to provide a multi-language interface.
- [ ] Check how to use this
- [ ] then translate the UI to English
- [ ] add menu to switch language of UI during usage (for foreign guests)

[2015-08-31 16:57] cod3monk opened #62 "Add Web Browser Tab"
Make it possible to switch over to a web browser tab, to allow non-financial things to be available without interfering with the code.

Example use cases:
- Public TODO list for people that want to help
- Feedback form
- Time tracking for employees
- Subscription to newsletter
- Look at funny cat pictures

[2015-09-01 14:00] patkan commented on #62
Maybe this site is helpful: http://doc.qt.io/qt-5/qtwebkitexamples-index.html
And this might be of help too: http://stackoverflow.com/questions/16704896/qt-how-to-build-a-multi-tab-window

[2015-09-03 20:53] #54 closed, assigned to nobody

[2015-09-04 18:28] nightvisi0n opened #63 "crash on missing config option"
If a config option is missing (e.g. commented out) the terminal is crashing when it searches the config for it.

[2015-09-04 18:33] patkan commented on #63
This should be solved while solving #43

[2015-09-04 23:04] mgmax commented on #50
basic infrastructure is now ready: `./run_unittests.sh`
Next step: Find all unittests that are not yet called

[2015-09-05 09:55] patkan commented on #50
Not called unittests --> see list in first post.

[2015-09-05 12:46] patkan commented on #17
Für "Wenn App Server nicht erreichbar, kommt keine Fehlermeldung . " könnte man noch die Anzahl der Fehlversuche zählen und nach n abbrechen. Oder wontfix, Meinungen?

[2015-09-05 15:08] patkan commented on #17
@mgmax, @sedrubal, @jneureuther  Ich würde sagen wir sind fertig :-)
Schaut mal bitte drüber. Falls alles passt, können wir das Feature schon jetzt anschalten

[2015-09-05 15:10] patkan commented on #63
By the way: this happens only when the config is accessed without checking its existence.

[2015-09-05 15:43] patkan opened #65 "doctest in moneyfmt is failing"
This is the relevant function: FabLabKasse/kassenbuch.py moneyfmt

In this function there are doctest testcases specified. Four of them fail.

TODO:
- [x] determine what the correct behaviour should be
- [x] check whether the doctest testcases are correct
- [x] fix what's wrong

[2015-09-05 16:07] #65 closed, assigned to nobody

[2015-09-05 20:25] cod3monk commented on #47
Works, as long as you copy the config.ini file in your cwd.

This is due to getting the config from ./, which is probably not a good idea on the long term. The config file should be loaded from a couple default locations and a location passed via the cli.

[2015-09-05 20:25] #47 closed, assigned to nobody

[2015-09-05 20:30] cod3monk opened #66 "improve protability of config location"
config.ini location should not be hardcoded to be in the module directory.

I propose using /etc/fablabkasse/config.ini and ~/.fablabkasse/config.ini and allow adding another location via a command line argument.

This would also help with #47.

[2015-09-05 20:44] cod3monk opened #67 "Create a python package and release on PyPI"
Will make installation and distribution easier.

[2015-09-05 21:10] cod3monk commented on #18
How many decimal places should always be reserver? 4?

[2015-09-05 21:49] #32 closed, assigned to cod3monk

[2015-09-06 09:58] patkan opened #69 "app-import-dialog only promotes the android app"
This dialog should be able to show several links.
Maybe by configuring them in the config and dynamically generating tabs with the QR-Codes or by showing a website that has the QRs pointing to the different Apps.

[2015-09-06 14:14] patkan commented on #27
I think unittests might be the solution.

Otherwise something like changing the abstract methods to wrappers and using abstract private function could be a (somewhat hacky) solution.

pseudocode:

[code]

[2015-09-07 08:30] #17 closed, assigned to nobody

[2015-09-09 15:07] patkan commented on #69
Possible solution:
Setup website and link to this website.
The website automagically detects the browser and shows the correct QR-Code for the device. Otherwise all App-Store-Links are shown.

[2015-09-09 15:09] patkan opened #72 "App-Import: improve cart viewer"
Currently the cart is shown in a dialog box. This does not scale well for large carts.

Maybe refactor the cart view of the main-GUI to be more versatile and use this as viewer in the App-Import-dialog.

[2015-09-10 02:34] sedrubal commented on #69
where should we run the website? On our homepage or on macgyver? In `PHP` or in `Flask`? :smile:

[2015-09-10 16:59] patkan opened #73 "Unit-testing of GUI"
Write unittests for the GUI, maybe with squish.
Try to cover use-cases of #5

[2015-09-10 17:01] patkan opened #74 "unit-testing with naughty-strings"
Inject www.github.com/minimaxir/big-list-of-naughty-strings wherever it makes sense.

[2015-09-11 12:32] sedrubal opened #75 "move all CLIs into one folder"
Then you can add this folder to `$PATH`.

[2015-09-11 12:35] sedrubal opened #76 "use argcomplete for CLIs"
Julian said, the CLIs are hard to use. My idea is to use [argcomplete](https://pypi.python.org/pypi/argcomplete) that it's more easy.

[2015-09-11 12:38] sedrubal opened #77 "provide an automatic virtualenv setup script"
this makes the setup process much easier, when you don't want / can't use vagrant.

[2015-09-11 16:51] EmJay276 opened #78 "Feld price_unit statt list_price verwenden um Multivariants Produkte nutzen zu können"
Bisher wird bei einem Multivariants Produkt der Sale Price Extra (price_extra) im Kassenterminal nicht beachtet, dadurch ist es nicht möglich Multivariants Produkte mit unterschiedlichen Preisen zu erzeugen. Es wird das Feld Verkaufspreis (list_price) verwendet.

Bei Angebotsanfragen für den Verkauf (und Einkauf!) verwendet das ERP das Feld Preis/ME (price_unit) welches den Sale Price Extra (price

[2015-09-11 20:22] sedrubal commented on #77
Oh it isn't as easy as I thought. Because there is no pypi package for Qt you have to compile it in the virtual environment and there seem to be some bugs in virtualenv so you can't do it...

If this isn't important, you can close this issue...

[2015-09-11 22:19] sedrubal commented on #76
or rather [docopt tab completion](https://github.com/docopt/docopt/issues/261)

[2015-09-13 14:41] patkan commented on #78
Did just some research with @EmJay276
The product-objects have a property `list_price`, which is used atm.
It seems like this is not the proper one. The ERP calculates the real list price from `list_price`, however then writes this price to the property `lst_price`
I checked the test database: Zero products have a `lst_price` smaller than `list_price`, for most of the products it is the same and o

[2015-09-14 15:56] #78 closed, assigned to nobody

[2015-09-18 02:32] sedrubal commented on #69
https://fablab.fau.de/app/redirect.php ;)

[2015-09-22 19:01] mgmax commented on #69
the background image should be fixed, the text is almost unreadable:

![Screenshot](https://cloud.githubusercontent.com/assets/1520891/10028470/fa067778-616c-11e5-9ef5-22236dd431eb.png)

[2015-09-22 19:01] mgmax commented on #69
as soon as that is fixed: really cool!

[2015-09-22 19:57] nightvisi0n commented on #69
fixed with https://github.com/fau-fablab/app-promotion-site/commit/62dcf31b5e331745d7ab5e80c2e453a2ac837703

[2015-09-22 20:09] #69 closed, assigned to nobody

[2015-09-24 22:41] patkan commented on #74
@sedrubal I think it does not make that much sense to inject these strings into the text input of the GUI.
At the moment I don't know how, however, we could try to inject it into the internal product database.

[2015-09-24 23:27] sedrubal commented on #74
Yes, I also think, this is useless. You can close this issue ;)

[2015-09-25 13:13] #74 closed, assigned to nobody

[2015-09-25 13:59] patkan commented on #73
Squish seems to be not available for opensource-projects.
Another option could be sikuli http://www.sikuli.org/

[2015-09-26 11:30] patkan opened #82 "Configure Landscape.io"
The landscape.io-reviews can be improved by creating a config-file.
Otherwise one could review tool alternatives and discard landscape.io

[2015-09-26 15:14] sedrubal commented on #82
:+1: landscapeio looks good.

But I dont't know any alternatives (aside from a proper Python IDE or pylint ;) )

[2015-09-27 15:59] patkan commented on #50
Plus: have a look at `pythoscope`. This is a tool for automatic test generation. You supply an entry point that starts your application and then run it with pythoscope. It then tries to gather as much data as possible and automatically write unittests. At least, it generates the stubs for unittesting.
For this you would have to write a piece of code that starts the Terminal and then click around i

[2015-09-27 20:44] patkan opened #83 "REFACTOR dynamic loading of modules"
Currently modules like the shopping backend are loaded in a way that makes it hard for a static code checker to understand what is going on. (see https://github.com/fau-fablab/FabLabKasse/blob/6dcf7d3ef98a00c7bf71191ef448760e3505912b/FabLabKasse/gui.py#L63-L74 )
The probably better way would be to use a factory design pattern or something similar to return an object of known type.

[2015-09-28 00:00] #83 closed, assigned to nobody

[2015-10-16 11:10] patkan opened #88 "Shutdown seems to be defective"
The shutdown function in main menu seems not to be working. More analysis is needed.

[2015-10-17 14:48] #88 closed, assigned to nobody

[2015-10-23 07:57] patkan opened #90 "move tests into own files"
Hi,
I would like to move all tests in separate files in their respective directories. The way we are doing it currently seems to be problematic since we try to execute all files but only some include tests.
Moreover this would be cleaner: we could separate the includes and code for tests and real logic.
If no one opposes until tonight, I will start separating the tests.

[2015-10-23 07:57] patkan commented on #90
@fau-fablab/kasse please have a look at this issue.

[2015-10-23 08:55] sedrubal commented on #90
Even if my contribution to kasse was not that much, I think this would be a good idea...

[2015-10-23 19:22] mgmax commented on #90
no, we don't execute all files. all files must be importable, and all unittest.testcase subclasses are run.

[2015-10-23 19:49] patkan commented on #90
Ok, you are right, my bad.
We search every source file, while typical test systems assume that tests reside in certain files (e.g. test_*.py)
The background for this that I try to get nearer to the de-facto-standards.
Currently, Travis is failing while building the unit test. I don't think this will fix the problem with Travis, but maybe it makes it easier to find errors.

[2015-10-24 11:51] patkan commented on #73
Another link: http://lists.idyll.org/pipermail/testing-in-python/2009-June/002025.html

[2015-10-26 17:46] patkan commented on #73
The previous link referenced two projects that seem to be able to orchestrate QT-GUIs.
https://wiki.freedesktop.org/ldtp/
https://fedorahosted.org/dogtail/

[2015-10-27 15:03] patkan commented on #18
I think 4 would be more transparent.

[2015-10-27 21:56] #72 closed, assigned to patkan

[2015-10-27 22:40] patkan opened #93 "Test ticket from Code Climate"

[2015-10-27 22:40] #93 closed, assigned to nobody

[2015-10-27 22:44] patkan opened #94 "Refactor FabLabKasse/shopping/backend/legacy_offline_kassenbuch_tools/exportConsumptionMoney.py from an F on Code Climate"
https://codeclimate.com/github/fau-fablab/FabLabKasse/FabLabKasse/shopping/backend/legacy_offline_kassenbuch_tools/exportConsumptionMoney.py

[2015-10-27 22:45] patkan commented on #94
Wow, die integration ist ja weltbewegend -_-

[2015-10-27 22:45] #94 closed, assigned to nobody

[2015-11-02 14:04] mgmax opened #96 "kassenbuch.py: edit client"
`client edit` is not implemented

[2015-11-09 00:04] patkan opened #99 "superfluos assert in cashState"
What is the purpose of the assert in https://github.com/fau-fablab/FabLabKasse/blob/52b2b603c7c681be5f852aa5415b345e2b477720/FabLabKasse/cashPayment/cashState.py#L139-L140 ?
For me this seems like checking whether `3 != 4`.
@mgmax I think this is your code, isn't it?

[2015-11-09 03:38] patkan commented on #82
Seems to look good.
Somewhen at a later point we should have a look at which suite we can discard again.

[2015-11-09 03:38] #82 closed, assigned to nobody

[2015-11-09 08:53] mgmax commented on #99
well, `CashState` is not as simple as `int`, so where's the problem with
some sanity check that effectively is
`assert other.__neg__().__neg__() == other` ? I think this is better
than just a dead comment somewhere telling you how it should be. Here
you have the guarantee how it must be (or it will crash).

[2015-11-09 23:54] #99 closed, assigned to nobody

[2015-11-10 16:32] patkan opened #100 "Supportmail is hardcoded"
The mailing adress for support (kasse@fablab.fau.de) is hardcoded. Search all occurences and replace by config-option.

[2015-11-11 15:33] patkan commented on #27
pycontracts looks like the deal. It seemas to be supporting contracts and inheritance (see https://andreacensi.github.io/contracts/api/contracts.html#contracts.ContractsMeta)

[2015-11-12 16:56] mgmax opened #103 "kassenbuch.py show <receipt_number>"
show all receipts starting from the given id

[2015-11-12 17:44] mgmax opened #104 "Cash verify (without arguments) broken"
no output

[2015-11-12 17:51] mgmax opened #105 "shutdown is strange"
GUI shutdown works, but after pressing shutdown down the GUI restarts untill it is killed by the shutdown

[2015-11-17 22:45] patkan commented on #90
I drop this task for now because I do not have the time at the moment.

[2015-11-22 01:14] sedrubal opened #106 "kassenbuch: encoding problems"
`kassenbuch.py` has problems with encodings. The input willnot be correctly checked or encoded and many parts of the code crash, when they get a wrong encoding...

[2015-11-24 15:43] nightvisi0n opened #110 "kassenbuch: possible race condition"
By executing `./kassenbuch.py show && ./kassenbuch.py summary` it can appear that a payment is processed in between and thus `./kassenbuch.py summary` shows a wrong amount.

[2015-11-24 16:29] mgmax commented on #110
- [x] use the script startup datetime  for a consistent snapshot
- [x] always show summary on show() at _both_ start and end

[2015-11-25 21:40] #96 closed, assigned to nobody

[2015-11-26 17:44] #110 closed, assigned to nobody

[2015-11-26 22:02] patkan commented on #27
Not directly what we want here, but maybe interesting nevertheless: https://hypothesis.readthedocs.org

[2015-11-27 14:11] patkan commented on #105
This seems to be a problem outside of this code. When I start the code in a Vagrant-machine with a massively slowed down CPU our code prints `waiting for system poweroff` and the eventually the whole system shuts down. However on the real hardware the whole nodm-process seems to stop and then restart.
I could not yet reliably diagnose this particular event.

[2015-11-27 14:12] patkan commented on #103
Is this feature still needed? @jneureuther told me the current fix should be enough.

[2015-11-28 11:32] mgmax opened #114 "kassenbuch cronjobs: remove extra summary call"
because `show`  now includes in `summary`, the cronjob mails currently contain a duplicate summary from two different times (script startup time and summary computation time)
(no idea if or where the cronjob is in the repo...)

[2015-11-28 13:54] mgmax opened #115 "automatically call `cash verify` at start of payment"
Before a payment starts, call `cash verify` and issue a warning to the log if it fails. This makes it easier to find the source of a cash state mismatch. (Only enable this if legacy_kassenbuch is used)

[2015-12-01 14:22] sedrubal opened #116 "Quittungsdrucker druckt '?'"
Z.B. bei "Sechskantmutter DIN 934 ‐ M2 ‐ 8" (0522) kam "?Sechskantmutter DIN 934 ? M2" als Produktname raus. Vor Allem das '?' am Anfang ist komisch.

[2015-12-01 14:23] sedrubal opened #117 ""Rechnung ausdrucken" muss "Quittung ausdrucken" heißen"
Alles andere sorgt für Verwirrung. Oder gibt es einen Grund, warum das so benannt wurde?

[2015-12-03 18:33] #117 closed, assigned to nobody

[2015-12-07 02:26] patkan commented on #66
This package might help with determining the right location to search for a config: https://pypi.python.org/pypi/appdirs/1.2.0

[2015-12-16 16:43] mgmax opened #121 "inserting coin while 'cash log' is running causes crash"
The sqlite request run by `cash log` seems to lock the database for too long, so that cashServer crashes...

[2016-01-11 22:50] #42 closed, assigned to nobody

[2016-01-11 23:51] patkan opened #123 "Update test-suite to new hypothesis-version"
`hypothesis` is now as version 2.0.0 available which breaks the API. I temporarily fixed this issue by specifying version lower or equal to 1.19.0. In the long run we should update the code. (Seems not to be a huge issue, but not something for now. :-) )

[2016-01-14 17:00] patkan opened #124 "reaction to jams"
Currently when a jam occurs the terminal simply waits forever and does not indicate the condition.

The terminal should recognize such a condition and then display a warning and maybe even shutdown the terminal.

[2016-01-14 19:45] mgmax commented on #124
I don't think that the MDB protocol allows querying this state reliably. AFAIR a warning flag is sent only once, but this needs to be looked up in the MDB spec.

[2016-01-14 19:49] mgmax commented on #124
Regarding the banknote reader: Yes, that would be possible, although changes in the device driver infrastructure would be required :-(

[2016-01-18 09:41] patkan opened #125 "Euro-Values in logfiles"
It seems that the payment-processing writes values like `500 EUR` to the logfile when it means `500 EURCent`. This is ambigous and misleading.
Find all occurences of this bug and fix it.

[2016-01-18 09:44] mgmax commented on #125
Or even better, make it more general so that it also works with other currencies.

[2016-01-19 21:34] #100 closed, assigned to sedrubal

[2016-02-16 13:50] sedrubal opened #130 "Implement kassenbuch client deactivate"
I think we can't delete clients but we should be able to disable unused clients.

[2016-02-16 21:17] patkan commented on #130
So that they don't show in the CLI and the GUI?

[2016-02-16 21:25] sedrubal commented on #130
Yes and so that they can't pay anymore...

[2016-03-10 19:41] sedrubal opened #132 "Münzer Licht ging an, obwohl keine Münzen zurückgegeben wurden"
Gerade hat jemand bezahlt und es wurde ein Schein zurück gegeben. Danach ging das Licht vom Münzer an, obwohl dieser gar nicht am Rückgabeprozess beteiligt war. Ist das gewollt?

[2016-03-10 19:44] sedrubal opened #133 "Add option to donate a custom amount in "Willst du das Rückgeld spenden?"-view"
The donate view proposes some amounts to donate. But if one wants to donate another amount, there is no way to do this except paying back all the money and the do a new payment. Can we add a Numeric-up-down to insert a custom amount to donate?

[2016-03-10 19:50] patkan commented on #133
I am not sure. If one wants to Sonate a specific amount you could always add that amount manually before checkout.
Of course this hinders opportunistic donation of a specific amount, but I suppose that if you exactly know what you want to Sonate then you would enter that.

[2016-03-10 19:52] sedrubal commented on #133
Theoretical one could do that. But I experienced it now and then that people asked afterwards how they can donate.

[2016-03-10 20:01] mgmax commented on #132
Das ist etwas hingefrickelt, kann durchaus ab und zu sein. wontfix.

[2016-04-08 19:48] mgmax commented on #132
WONTFIX.

[2016-04-08 19:48] #132 closed, assigned to nobody

[2016-04-08 19:49] #27 closed, assigned to nobody

[2016-04-08 19:52] mgmax commented on #116
Das sind non-printing unicode Zeichen. Alles das nicht in den Druckerzeichensatz umgesetzt werden kann wird zu sowas.

[2016-04-10 20:04] patkan commented on #116
Man kann statt einem ? am Drucker auch afaik Leerzeichen konfigurieren. Ansonsten wird das handling von anderen codepages mit Python escpos in Version 1.1 besser.
Trotzdem wird man solche Zeichen auf unserer Seite entfernen müssen. (Und woher das Zeichen ganz vorne kommt kann man mal ergründen. Ich würde auf copy pasta tippen.)

[2016-04-10 20:06] patkan commented on #115
Optionally: do this while initiating the cash devices (but make sure there is no interference) since cash verify can take some time.

[2016-04-28 21:08] patkan opened #134 "change to readthedocs.io"
Readthedocs has moved to readthedocs.io with the hosted content. They are forwarding, but we should change this in the near future.

[2016-05-12 16:59] sedrubal opened #135 "Plugin System"
I think we need something like a plugin system to extend the KassenTerminal with custom plugins (e.g. MagnaCharta Plugin)

Maybe it can work like this:

[code]

What do you think?

[2016-05-12 17:01] mgmax commented on #135
it would require a lot more more effort than just this, because plugins need to register their provided things somewhere.

[2016-05-16 13:55] sedrubal commented on #77
Maybe one can use `virtualenv --system-site-packages` to include Qt from system.

[2016-06-04 21:08] #77 closed, assigned to nobody

[2016-06-11 12:44] schrolli opened #139 "kassenbuch: Performance gains/Database-interface"
Um die Diskussion, was man noch alles machen könnte, vom pull request #138 wegzuziehen, hier ein seperates Issue, um Ideen zu besprechen, die die geschwindigkeit steigern können.

Ich bin auch gewillt das in ein paar pull-requests zu verpacken, wollte vorher nur eure meinung hören, ob ihr das sinnvoll findet oder es layout-technisch blöd ist. Hier also die Sachen, die mir aufgefallen sind:
### Cac

[2016-06-12 05:31] patkan commented on #115
Or the other way round: do it after the user has payed. This way we don't increase the already long waiting period until payment has started. (And it makes more sense, since a defect will occur during payment, so we want to check afterwards)

[2016-06-12 19:52] mgmax commented on #115
I agree that checking it afterwards is more helpful.

[2016-06-15 17:39] sedrubal opened #140 "Refactoring to python3"
I think, it's very important to port this project to `python3`. To make this step a bit simpler I would suggest to make it python3 only and drop `python2` support if needed.
There are many reasons, e.g.:
- unicode problems in `kassenbuch.py` :exclamation: :exclamation: :exclamation:
- prepare FabLabKasse for the future
- get rid of ugly code
- more fun while coding
- ...

I think this only takes o

[2016-07-09 20:25] sedrubal commented on #140
There are some tools which can help and do the standard refactoring:
- `2to3`: does drop python2 support and port to python3 only code
- `python-modernize`: makes compatible code and looks quite nice

[2016-07-23 05:49] patkan commented on #104
bump for fablab-kasse :-)

[2016-07-23 06:02] #134 closed, assigned to nobody

[2016-07-23 06:21] #104 closed, assigned to nobody

[2016-08-14 11:32] mgmax commented on #103
no longer needed

[2016-08-14 11:32] #103 closed, assigned to nobody

[2016-09-20 17:10] mgmax opened #144 "UI resize problems with long list of categories"
Too deeply nested long category names will break the GUI layout, as the window resizes too wide. The right or left end of the list should rather be clipped.
(example: Elektromaterial / Steckverbinder / Flachbandkabel / Kabel 10pin / ...)

[2016-09-21 08:36] cod3monk commented on #144
I would opt for cutting off the front/left ("Elektromaterial" in the given example), because the latter contains very detailed information necessary to interpret the product names.

[2016-09-21 11:38] patkan commented on #144
I would opt for that too.
When you are down in a detailed part of the tree, you probably want to search similar categories and therefore need the detailed breadcrumbs. Going back is also easy since clicking on the leftmost breadcrumb would ideally allow the UI to resize.

[2017-02-06 14:50] sedrubal commented on #140
https://github.com/osiell/oerplib/issues/21

[2017-02-06 17:00] sedrubal commented on #139
https://github.com/fau-fablab/FabLabKasse/pull/138#issuecomment-224939793

[2017-02-06 17:51] schrolli commented on #139
also das ganze gecache in der Datenbank würde ich eher damit lösen, dass man eine gescheite Datenbank-Engine verwendet. Wir hatten das doch damals diskutiert. sqlite ist dafür einfach viel zu dumm. mysql hätte z.b. einen Festkomma-Zahlentyp und kann auch direkt damit rechnen. Dann bräuchte man auch keinen Cache mehr, da man einfach alle Summier-Aufgaben in die Datenbank auslagern könnte. Die oben

[2017-02-06 18:13] mgmax commented on #140
well, the new odoorpc doesn't support OpenERP 7, so we are stuck here.

[2017-02-06 20:11] sedrubal commented on #139
Achso. Julian war nur gerade da und meinte, dass man es so machen könnte. Ich hab die Diskussionen damals nicht mit verfolgt.

[2017-02-06 20:13] sedrubal commented on #140
You're right. But I think we should upgrade to a newer version of odoo anyway. Oerp7 and oerplib are both not maintained and EOL.

https://www.odoo.com/page/odoo-long-term-support

[2017-02-07 00:59] schrolli commented on #139
Nach nochmaligen drüber nachdenken jetzt, meine ich, dass das caching von Summen in einer extra tabelle wsl. nicht so viel bringt, als z.b. das abfragen aller Buchungen in einer einzigen sql-Abfrage. Bei dem Cache, da dann an zwei verschiedenen orten die "selbe" information gespeichert ist, kann auch recht schnell was korrupt werden... Da ich ja damals schon mitm Patrick recht viel Performance dur

[2017-03-12 20:20] mgmax commented on #106
There is still a remaining problem with the address field in `client edit`: Create a client with unicode address, try to edit -> crashes:
[code]

[2017-03-26 22:29] sedrubal opened #146 "Use qtvirtualkeyboard"
Can we use [qtvirtualkeyboard](https://doc.qt.io/qt-5/qtvirtualkeyboard-index.html) instead of the custom keyboard?

[2017-05-03 19:28] mgmax opened #148 "faucard.py hardcoded DB name in finishLog"
I just stumbled upon this:

Compare
https://github.com/fau-fablab/FabLabKasse/blob/676741f46dc9e45a00ec71fe00fc29e4b1fe8e44/FabLabKasse/faucardPayment/faucard.py#L131
and
https://github.com/fau-fablab/FabLabKasse/blob/676741f46dc9e45a00ec71fe00fc29e4b1fe8e44/FabLabKasse/faucardPayment/faucard.py#L120

[2017-05-03 19:43] BDrescher commented on #148
Has been fixed in the recent commit at branch faucard_path1

[2017-08-21 15:28] cod3monk opened #149 "Automatic Export of Invoices from Kassenbuch"
Automatic Export of Invoices from Kassenbuch Clients

[2017-12-22 20:30] sedrubal opened #151 "Allow calculations in amount input"
In order to fill the shopping cart more comfortable it was nice to do some calculations by using `+`, `-`, `*`, `/` in the amount text input.

[2018-08-20 13:50] mgmax opened #152 "Setup fails on Ubuntu 18.04"
Running the Vagrant setup with "ubuntu/bionic64" causes this error: https://github.com/pyca/cryptography/issues/4020

Best guess: Recent versions of python-cryptography (used by `requests`) are incompatible with the `enum` library, but wants the newer `enum34` which has a slightly different interface. This is a problem because FAUCardPayment uses `enum`.

- [x] rewrite FAUCardPayment to use `enum3

[2018-08-20 14:05] BDrescher commented on #152
Hi,
I've looked into the code and as far as i can see, there should be no syntax errors. This is what i did so far:

 -> testing by starting the programm (no error)
 -> go through all code and test usage scenarios manually

The Enum usage in FAUCardPayment is mostly hardcoded, all asserts check for isinstance(int, Status/Info). SQLite storage is in int, but there is no loading from SQLite -> no in

[2018-08-21 07:50] patkan opened #153 "Migration path for PyQT"
We are currently on PyQT4, in the future migrating to newer qt-versions or other implementations might be needed.
For this, migrate the codebase to using [QtPy](https://pypi.org/project/QtPy/). This way we can easily switch QT-backends.

[2018-08-21 12:01] #148 closed, assigned to BDrescher

[2018-08-24 09:39] BDrescher commented on #152
Hey,
I am replying once again as I know wether a edited comment will trigger a notification. For my reply see the message above.

[2018-10-05 20:24] mgmax commented on #152
The vagrant box definitely exists: https://app.vagrantup.com/ubuntu/boxes/bionic64
I created the `fix-152-test` branch which uses `enum34` and `ubuntu/bionic64`, it does not crash. Because I don't have the real payment hardware, I get a connection error message as expected. I don't know how to test it further without real hardware.

[2018-10-05 21:05] BDrescher commented on #152
I do not doubt it exists, yet it failed to run with me having little knowledge on vagrant. As soon as I have Access and time to the hardware, I will test the branch.

[2019-01-06 18:04] mgmax opened #154 "crash if UTF8 character in top category"
If the category directly under "All products" contains a unicode character, FabLabKasse crashes.

[code]

[2019-01-06 18:29] #154 closed, assigned to mgmax

[2019-10-01 17:49] jnweiger opened #155 "PyQt4.QtWebKit not available on Ubuntu 18.04"
The installation documentation says nothing about getting webkit python bindings. But they are mandatory. On Ubuntu 18.04, when starting with `run.py` we get this error:

[code]

Suggested workaround:

* `apt install python-pyside.qtwebkit`
* In flickcharm.py call `import PySide.QtWebKit` instead of the default PyQt4.QtWebKit.

[2019-10-01 17:52] jnweiger commented on #155
Or upgrade to flickcharm master, which solves it by falling back to QWebView:

[code]

[2019-10-05 19:16] #155 closed, assigned to nobody

[2019-10-06 12:01] mgmax commented on #105
This is a bug in nodm: https://github.com/spanezz/nodm/issues/5
Nodm is currently (more or less) unmaintained. Some extra work will be required for lightdm or sddm because they don't support `.xsession` files out of the box.

[2019-10-06 13:00] mgmax commented on #152
I found out that we've been using `enum34` on the production system all the time, and the code would never have worked with the old `enum`. So the FAUCard code does not need to be changed, only `requirements.txt` was wrong.

[2019-12-04 02:40] ReneDens opened #159 "Unicode Encoding in "Kassenbuch""
Fix unicode encoding
Kassenbuch Mail says: Laserzeit (ERMÃáºIGT, keine Unternehmen/LehrstÃŒhle)

[2019-12-08 14:00] #105 closed, assigned to nobody

[2020-03-23 20:01] #67 closed, assigned to nobody

[2020-03-23 20:10] patkan opened #160 "Disable cash acceptance after passing a threshold"
Simple implementation:
* Make a threshold settable in config
* Disable cash acceptance as soon as threshold is passed
* Threshold should be set to ZUV-limit - maximum transaction size (200€?)

[2020-03-23 20:11] patkan commented on #160
@mgmax I think this should be the most simple implementation, even if it is a bit to strict. (Which I would prefer instead of passing over the threshold.)

[2020-03-24 09:42] mgmax commented on #160
The current state can be read from `CashStorageList(db).total()`, where `db=scriptHelper.getDB()`.

PayupCashDialog controls how much cash is accepted: `self.centsToPay + self.allowedOverpay`, where allowed overpay is 50€. Due to timing issues, there is possibly the option to pay even one piece of money (100€) more than that.

My suggestion would be to check the threshold in PayupCashDialogCode: R

[2022-03-15 18:47] patkan opened #162 "Migration to Python 3"
We try to modernize the terminal

- [x] add formatting
- [x] parallel task: add import for json @phdoerfler
- [x] drop all irrelevant modules, likely
   - [x] cash payment - @mgmax
   - [x] flickcharm? (port? find alternative? native?)
   - [x] escpos as module (take in as dependency)
   - [x] naughtystrings? @mgmax
   - [x] processhelper
   - [x] shopping-backend oerp @patkan
   - [x] shopping ca

[2022-03-15 18:56] patkan commented on #160
Feature is removed
/close

[2022-03-15 18:56] #160 closed, assigned to patkan

[2022-03-15 18:57] dh4nav opened #163 "Schnittstelle für gemüsewagen"
Um random gegurke bepreisen zu können.

[2022-03-15 18:58] #163 closed, assigned to nobody

[2022-03-15 19:08] patkan commented on #124
banknote handling is dropped

[2022-03-15 19:08] #124 closed, assigned to nobody

[2022-03-15 21:11] mgmax commented on #133
feature is closed

[2022-03-15 21:11] #133 closed, assigned to nobody

[2022-03-15 21:12] mgmax commented on #121
feature is closed

[2022-03-15 21:12] #121 closed, assigned to nobody

[2022-03-15 21:13] mgmax commented on #8
this feature will be removed

[2022-03-15 21:13] #8 closed

[2022-03-15 21:13] mgmax commented on #9
this feature will be removed

[2022-03-15 21:13] #9 closed

[2022-03-15 21:13] mgmax commented on #15
this feature will be removed

[2022-03-15 21:13] #15 closed, assigned to nobody

[2022-03-15 21:14] mgmax commented on #152
should be fixed

[2022-03-15 21:14] #152 closed, assigned to nobody

[2022-03-15 21:14] mgmax commented on #153
will be fixed in migration to Python 3 #162

[2022-03-15 21:14] #153 closed, assigned to nobody

[2022-03-15 21:15] mgmax commented on #123
will be fixed in migration to Python 3 #162

[2022-03-15 21:15] #123 closed, assigned to nobody

[2022-03-15 21:16] mgmax commented on #2
will be fixed during the migration to Python 3 #162

[2022-03-15 21:16] #2 closed

[2022-03-15 21:16] mgmax commented on #115
feature will be removed

[2022-03-15 21:16] #115 closed, assigned to nobody

[2022-03-15 21:18] mgmax commented on #140
superseded by #162

[2022-03-15 21:18] #140 closed, assigned to nobody

[2022-03-26 14:53] mgmax commented on #146
This would also solve the issue that the client self-registration does not support underscores in mail addresses.
The Python3 migration needs to be done first.

[2022-06-14 19:35] patkan commented on #162
read json in https://github.com/fau-fablab/FabLabKasse/blob/5b46df6c4480f029d3fd08d9f9fe0d67f948ef1d/FabLabKasse/shopping/backend/legacy_offline_kassenbuch.py#L40?

[2022-06-28 18:22] mgmax commented on #162
https://brain.fablab.fau.de/build/pricelist/price_list-Alle_Produkte.html.json

[2022-11-15 19:35] patkan commented on #162
Philipp: looks into the produkt loader
Patrick: look into the qt bindings

[2022-11-23 22:23] phdoerfler commented on #162
running vagrant up, amongst the many lines of output there's one line that stands out:
[code]
Does that concern us?

[2022-11-24 05:40] mgmax commented on #162
Best guess: Importlib is a leftover Python 2 dependency ("python < 3"), now it is already in the Python 3 standard library and must be removed from requirements.txt.

[2022-11-27 20:06] mgmax commented on #60
won't fix (we have enough other issues for the next years)

[2022-11-27 20:06] #60 closed, assigned to nobody